@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(227, 245, 250);
  padding: 30px;
  width: 100%;
}
body {
  background-color: rgb(17, 14, 14);
  background-size: cover;
}

header > h1 {
  text-align: center;
  font-family: monospace, Arial, Helvetica, sans-serif;
  font-size: 3em;
  margin-bottom: 1px;
}

header > button {
  color: black;
  border-radius: 3px;
  font-family: monospace, Arial, Helvetica, sans-serif;
  padding: 5px 10px;
  font-weight: lighter;
  border-color: black;
  background-color: lightpink;
  cursor: pointer;
  position: static;
  left: 0;
  margin: 0;
}

#main-menu {
  height: 100vh;
  padding: 30px;
  font-family: monospace, sans-serif;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
  transition: opacity 0.5s ease;
}

#main-menu h2 {
  font-size: 2em;
  display: block;
  padding-bottom: 30px;
  text-align: center;
  margin-bottom: 30px;
  color: antiquewhite;
}

.round-button {
  display: inline-block;
  margin: 3px;
  padding: 3px;
  width: 200px;
  font-size: 1.3em;
  height: 50px;
  border-radius: 3px;
  border-color: grey;
  background: none;
  font-family: monospace, Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.round-button:hover {
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;

  /* Standar Syntax */
  animation: rainbow 5s infinite;
}

/* Chrome, Safari, Opera */
@keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}

/* Internet Explorer */
@-ms-keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}

#one-round {
  margin-right: 35px;
  background-color: pink;
}

#five-round {
  margin-right: 35px;
  background-color: powderblue;
}

#unlimited {
  background-color: #d5f5d5;
}

#game {
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  transition: opacity 0.5s ease;
}

.score-board {
  margin: 20px auto;
  border: 3px solid white;
  width: 200px;
  color: white;

  font-size: 46px;
  border-radius: 4px;
  padding: 15px 20px;
  text-align: center;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  position: relative;
}

.player {
  color: black;
  font-size: 14px;
  padding: 2px 10px;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  text-align: center;
}

#player-label {
  position: absolute;
  background-color: turquoise;
  top: 30px;
  left: -25px;
}

#computer-label {
  background-color: violet;
  position: absolute;
  top: 30px;
  right: -30px;
}
.result {
  font-size: 40px;
  color: white;
}

.result > p {
  text-align: center;
  font-weight: bold;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}
.choices {
  text-align: center;
  margin: 50px 10px;
  padding: 10px;
}
.choice {
  border: 4px solid white;
  border-radius: 50%;
  margin: 0 10px;
  padding: 20px;
  display: inline-block;
  transition: all 0.3s ease;
  font-size: 80px;
  color: white;
}
.choice:hover {
  cursor: help;
  background-color: turquoise;
  color: black;
}

#instruction {
  text-align: center;
  font-weight: lighter;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}

.rainbow {
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;

  /* Standar Syntax */
  animation: rainbow 5s infinite;
}

/* Chrome, Safari, Opera */
@keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: black;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: blue;
  }
  50% {
    color: coral;
  }
  60% {
    color: rgb(163, 153, 162);
  }
  70% {
    color: rgb(140, 216, 133);
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}

/* Internet Explorer */
@-ms-keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}

footer {
  margin-top: auto;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1em;
  position: relative;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: salmon;
  margin-top: 100px;
  padding-top: 20px;
}

.green-glow {
  border: 4px solid green;
  box-shadow: 0 0 10px rgb(57, 230, 80);
}

.red-glow {
  border: 4px solid red;
  box-shadow: 0 0 10px rgb(241, 108, 108);
}

.grey-glow {
  border: 4px solid grey;
  box-shadow: 0 0 10px greenyellow;
}

div.fadeout {
  opacity: 0;
  pointer-events: none;
}

div.fadein {
  opacity: 1;
  pointer-events: all;
}
